/** * Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/) * http://cssreset.com */html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,a, abbr, acronym, address, big, cite, code,del, dfn, em, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var,b, u, i, center,dl, dt, dd, ol, ul, li,fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td,article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,time, mark, audio, video {  margin: 0;  padding: 0; border: 0;  font-size: 100%;  font: inherit;  vertical-align: baseline;}/* HTML5 display-role reset for older browsers */article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {  display: block;}body {  line-height: 1;}ol, ul {  list-style: none;}blockquote, q { quotes: none;}blockquote:before, blockquote:after,q:before, q:after { content: '';  content: none;}table {  border-collapse: collapse;  border-spacing: 0;}
        
        
header {
    text-align: center;
    font-size: 72px;
    line-height: 200px;
    height: 200px;
    background: #335C7D;
    color: #fff !important;
    font-family: 'PT Sans', sans-serif;
    
    // set animation
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

header h1 a { color: #f1f1f1; }

header.sticky {
    position: fixed;
    font-size: 24px;
    line-height: 48px;
    height: 48px; 
    width: 100%;
    background: #335C7D;
    color: #fff !important;
    text-align: left;
    padding-left: 20px;
}

.all-content {width: 800px; }

/* Apenas teste */
body {
    height: 2000px;
    font-family: "PT Serif", Georgia, Times, serif;
    line-height: 1.75;
    font-size: 112.5%;
    color: #111;
}

/* Página inicial */
.pageTitle {
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    font-size: 3em;
    line-height: 1.05;
    text-align: center;
    margin: 2rem auto 1em;
}

.posts {
    width: 74.46809%; /* Dúvida */
    margin: 0 auto 1.5em; /* Dúvida */
}

.posts li {
    margin-bottom: 4rem;
    /*border-bottom: 1px solid #ccc;*/
}

.posts h3 {
    font-size: 1.75em;
    line-height: 1.25;
    margin: 0 0 .5em;
}

.posts .date {
    color: gray;
    font-weight: 300;
    font-size: .8em;
}

.post-link {}

/* Footer */
.footer-edit {
    margin-top: 30px;
}

.footer-edit .copy {
    line-height: 35px;
}

.footer-edit .container {
    border-top: 4px solid #d9d9d9;
    padding-top: .5em;
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.container-footer {
    width: 800px;
}

.footer-links {
    font-size: 15px;
    color: #335C7D;
}

.footer-links ul li {
    display: inline;
}