---
layout: default
---

<div class="home" id="home">
  {% for category in site.categories %}
    <h1 class="pageTitle">{{ site.navigation.title }}</h1>
    <ul class="posts noList">
      {% for posts in category %}
        {% for post in posts %}
          <li>
            <span class="date">
              Escrito em: {% include formato_data.html %}.
              Categoria: <a href="{{ post.category | category_links }}">{{ post.categories | category_links }}</a>
            </span>
            <h3>
              <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">
                {{ post.title }}
              </a>
            </h3>
            
            <!--
            <img height="200" width="350" src="{{site.baseurl}}/images/{{page.image}}" />
            -->

            <p class="description">
              {{ post.content | strip_html | strip_newlines | truncate: 150 }}
              <a class="post-link-more" href="{{ post.url | prepend: site.baseurl }}">Mais</a>
            </p>
          </li>
        {% endfor %}
      {% endfor %}
    </ul>
  {% endfor %}

</div>