---
layout: default
title: Elton Santos
---

<div class="home" id="home">
  <h1 class="pageTitle">Artigos Recentes</h1>
  <ul class="posts noList">
    {% for page in paginator.posts %}
      <li>
        <span class="date">
          Escrito em: {% include formato_data.html %}.
          Categoria: <a href="{{ page.categories | category_links }}">{{ page.categories | category_links }}</a>
        </span>
        <h3>
          <a class="post-link" href="{{ page.url | prepend: site.baseurl }}">
            {{ page.title }}
          </a>
        </h3>
        
        <!--
        <img height="200" width="350" src="{{site.baseurl}}/images/{{page.image}}" />
        -->

        <p class="description">
          {{ page.content | strip_html | strip_newlines | truncate: 150 }}
          <a class="post-link-more" href="{{ page.url | prepend: site.baseurl }}">Mais</a>
        </p>
      </li>
    {% endfor %}
  </ul>


  <!-- Pagination links -->
  {% if paginator.total_pages > 1 %}
  <div class="pagination">
    {% if paginator.previous_page %}
      <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&laquo; Postagens Recentes</a>
    {% else %}
      <span>&laquo; Postagens Recentes</span>
    {% endif %}

    {% if paginator.total_pages > 0 %}
      <span>Página: {{ paginator.page }} de {{ paginator.total_pages }}</span>
    {% endif %}

    {% if paginator.next_page %}
      <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Postagens Antigas &raquo;</a>
    {% else %}
      <span>Postagens Antigas &raquo;</span>
    {% endif %}
  </div>
  {% endif %}


</div>